body {
    background-color: darkgrey;
    text-align: center;
}

h1 {
    text-align: center;
}

div.list-container {
    text-align: center;
}

.list-items {
    display: inline-block;
    text-align: left;
}